<div class="page-wrapper">
	<div class="container-fluid">
		<div class="row">
          	<div id="googleMap"></div>
	 	 </div>
		</div>
		<div class="container"> 
		<div class="row">
            <div class="contact-address section-ptb">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="single-address">
                            <h3 class="themeix-h3">Address</h3>
                            <div class="address-list">
                                <ul>
                                    <li>301 Neymer Road, Glassgow,</li>
                                    <li>opposite of denclave zone, </li>
                                    <li>WA 1201-403</li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-address">
                            <h3 class="themeix-h3">Support Hours</h3>
                            <div class="address-list">
                                <ul>
                                    <li>Saturday - 9AM - 5PM</li>
                                    <li>Sunday - <span>Closed</span> </li>
                                    <li>Monday - Thrusday : 8AM - 5PM</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="single-address">
                            <h3 class="themeix-h3">Phone & Fax</h3>
                            <div class="address-list">
                                <ul>
                                    <li>Phone: +123-123-12348</li>
                                    <li>Mobile: +123-123-12348 </li>
                                    <li>Fax: +1 0123-1234-1234</li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-address">
                            <h3 class="themeix-h3">Email</h3>
                            <div class="address-list">
                                <ul>
                                    <li>Billing : bill@yourdomain.com</li>
                                    <li>Support : info@yourdomain.com</li>
                                    <li>General : contact@yourdomain.com</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                    	<div class="office-img">
                           <img src="{{asset "images/office.jpg"}}" alt="office" class="img-responsive">   
                        </div>
                    </div>
                </div>
            </div>
			</div>
		</div>
	</div>

