    <body class="{{body_class}}">
      <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
      <!-- PRE LOADER -->
      <div class="preloader">
         <div class="preloader-battery">
            <div class="cssload-liquid"></div>
         </div>
      </div> 
      <!-- PRE LOADER END -->	
      <!-- main menu area -->
      <header id="stickey-menu">
        {{navigation}}
      </header>
     
 