 <!-- Start Slider Area -->
<div class="slider-area page-title-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="slider-wrapper-2">
                <div id="particles-js">
                    <div class="slider-fixed-text">
					{{#tag}}
                        <h1>Tag: {{name}}</h1>
                        <p class="flying-text">{{description}}</p>
					{{/tag}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Slider Area -->

                 

