 <!-- Start Slider Area -->
<div class="slider-area page-title-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="slider-wrapper-2">
                <div id="particles-js">
                    <div class="slider-fixed-text">
					{{#author}}
                        <h1>{{name}}'s Post</h1>
                        <p class="flying-text">{{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</p>
					{{/author}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Slider Area -->

                 